name: Build Delaunay-Flow on Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 'master'

    - name: Configure CMake
      run: >
        cmake -S . -B build
        -DCMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake
        -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Copy runtime files
      shell: pwsh
      run: |
        Copy-Item resource/settings.json -Destination build/Release/ -Force
        if (-Not (Test-Path 'build/Release/shaders')) {
          New-Item -ItemType Directory -Path 'build/Release/shaders'
        }
        Copy-Item shaders/* -Destination build/Release/shaders/ -Recurse -Force

    - name: Package Output
      shell: cmd
      run: |
        mkdir Delaunay-Flow\Delaunay-Flow
        copy build\Release\Delaunay-Flow.exe Delaunay-Flow\Delaunay-Flow\
        copy build\Release\settings.json Delaunay-Flow\Delaunay-Flow\
        xcopy build\Release\shaders Delaunay-Flow\Delaunay-Flow\shaders\ /E /I /Y

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Delaunay-Flow
        path: Delaunay-Flow/
